html, body {
    margin:0;
    width:100%;
    height:100%;
    overflow: auto;
}
html {
    padding: 0;
}
.navbar-header {
    width: 100%;
}
.navbar-brand {
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.actions-nav, .card-task {
    margin: 5px 0 5px 0;
}
.thumbnail {
    min-height: 175px;
}
.actions-task {
    display: flex;
    justify-content: space-evenly;
}
.alert {
    display: flex;
    justify-content: space-between;
}
.alert p {
    align-self: center;
}
@media screen and (max-width: 1200px) {
.navbar-brand {
    width: 35%;
}
}
@media screen and (max-width: 1000px) {
.navbar-brand {
    width: 45%;
}
}
@media screen and (max-width: 750px) {
.navbar-brand {
    width: 55%;
}
}
@media screen and (max-width: 650px) {
.navbar-brand {
    width: 65%;
}
}
@media screen and (max-width: 530px) {
.navbar-brand {
    width: 75%;
}
}
@media screen and (max-width: 450px) {
.navbar-brand {
    width: 100%;
}
}
